.tripoverview-card {
    width: 99%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 32px;

    padding: 10px;
    padding-left: 15px;

    background-color: rgb(243, 243, 243);

    border-radius: 23px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.tripoverview-text {
    height: 40px;

    font-size: 30px;
    margin-bottom: 10px;
}

.user-infor-tripcreated{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    width: 81%;
    margin: auto;
    margin-bottom: 25px;
}

.tripoverview-text-time {
    height: 80px;

    font-size: 30px;
    margin-bottom: 10px;
}

.deletecreated-trip-btn {
    width: 100%;
    font-size: 22px;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    background-color: #e33434;
    border: none;
    cursor: pointer;
    margin-top: 13px;
}

.deletecreated-trip-btn:hover {
    opacity: 0.8;
}


.deletecreated-trip-btn:active {
    opacity: 0.5;
}