.trip-card {
  box-shadow: 0 0 3px black;
  z-index: 15;
  border-radius: 23px;

  background-color: rgb(239, 239, 239);
  padding: 30px;
  padding-top: 21px;
  border-radius: 23px;

  height: 330px;
  width: 38dvw;
  margin: auto;
  margin-top: 25px;
}

.trip-card-inprogress {
  box-shadow: 0 0 3px black;
  z-index: 15;
  border-radius: 23px;

  background-color: rgba(136, 235, 66, 0.84);
  padding: 30px;
  padding-top: 21px;
  border-radius: 23px;

  height: 330px;
  width: 38dvw;
  margin: auto;
  margin-top: 25px;
}

.trip-card-pending {
  box-shadow: 0 0 3px black;
  z-index: 15;
  border-radius: 23px;

  background-color: rgba(255, 251, 41, 0.84);
  padding: 30px;
  padding-top: 21px;
  border-radius: 23px;

  height: 330px;
  width: 38dvw;
  margin: auto;
  margin-top: 25px;
}

.trip-title {
  background-color: green;

  display: grid;
  grid-template-columns: 1fr 8fr;

  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 3px black;
  z-index: 15;

  height: 50px;
}

.trip-title-pending {
  background-color: green;

  display: grid;
  grid-template-columns: 1fr 8fr 1fr;

  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 3px black;
  z-index: 15;

  height: 50px;
}

.accept-trip-btn {
  height: 50px;

  background-color: rgb(93, 238, 9);
  color: rgb(0, 0, 0);
  font-size: 100%;
  border: solid;
  border-width: 1px;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.finish-trip-btn {
  height: 50px;

  background-color: rgb(93, 238, 9);
  color: rgb(0, 0, 0);
  font-size: 100%;
  border: solid;
  border-width: 1px;
  border-radius: 15px 0px 0px 15px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.accept-trip-btn:hover {
  box-shadow: 0 0 10px rgb(93, 238, 9);
  z-index: 99;
  opacity: 0.8;
  color: rgb(255, 255, 255);
}

.finish-trip-btn:hover {
  box-shadow: 0 0 10px rgb(93, 238, 9);
  z-index: 99;
  opacity: 0.8;
  color: rgb(255, 255, 255);
}

.accept-trip-btn:active {
  box-shadow: 0 0 20px rgb(93, 238, 9);
  z-index: 99;
  opacity: 0.5;
  color: rgb(15, 230, 0);
}

.finish-trip-btn:active {
  box-shadow: 0 0 20px rgb(93, 238, 9);
  z-index: 99;
  opacity: 0.5;
  color: rgb(15, 230, 0);
}

.stop-trip-btn {
  height: 50px;

  background-color: rgb(255, 42, 42);
  color: rgb(0, 0, 0);
  font-size: 100%;
  border: solid;
  border-width: 1px;
  border-radius: 15px 0px 0px 15px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.stop-trip-btn:hover {
  box-shadow: 0 0 10px rgb(255, 17, 17);
  z-index: 99;
  opacity: 0.8;
  color: rgb(255, 255, 255);
}

.stop-trip-btn:active {
  box-shadow: 0 0 20px rgb(255, 17, 17);
  z-index: 99;
  opacity: 0.5;
  color: rgb(230, 0, 0);
}

.trip-title-text {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;

  font-size: 23px;
}

.trip-content {
  display: grid;
  grid-template-columns: 5.7fr 4fr;
}

.trip-info {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 3px black;
  z-index: 15;

  padding: 0px;
  margin-top: 20px;

  height: 220px;
}

.trip-vehicle {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 3px black;
  z-index: 15;

  padding: 0px;
  margin-top: 20px;
  margin-left: 20px;

  height: 220px;
}

.trip-info-text-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 178px;
  width: 20.2dvw;
}

.trip-info-title {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  font-size: 23px;
}

.trip-info-text {
  vertical-align: middle;
  line-height: 35px;
  word-wrap: break-word;
  font-size: 23px;
}

.trip-vehicle-title {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  font-size: 23px;
}

.trip-vehicle-text-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 178px;
  width: 13dvw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  border-radius: 34px;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2de640;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2de640;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-wrapper {
  margin: auto;
  margin-left: 1vw;
}
