.tripchart-wrapper {
    box-shadow: 0 0 3px black;
    z-index: 15;
    border-radius: 23px;
  
    background-color: rgb(239, 239, 239);
    padding: 30px;
    padding-top: 21px;
    border-radius: 23px;
  
    height: calc(330px + 35px + 330px);
    width: 96%;
    margin-left: 0;
    margin-top: 25px;

    display: grid;
}
