.bigtable-content {
  border: none;

  width: 95%;
  height: 90vh;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 23px;
  box-shadow: 0 0 3px black;
  z-index: 10;
}

.bigtable-header {
  border: none;

  width: 100%;
  height: 65px;
  border-radius: 23px 23px 0px 0px;
  background-color: rgb(216, 216, 216);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.6fr 0.3fr 0.2fr;
}

.bigtable-header-driver {
  width: 100%;
  height: 65px;
  border-radius: 23px 23px 0px 0px;
  background-color: rgb(216, 216, 216);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.2fr;
}

.bigtable-header-trip {
  border: none;

  width: 100%;
  height: 65px;
  border-radius: 23px 23px 0px 0px;
  background-color: rgb(216, 216, 216);
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr 1fr 1fr 1fr 0.6fr 0.1fr;
}

.bigtable-header-trip-manager {
  border: none;

  width: 100%;
  height: 65px;
  border-radius: 23px 23px 0px 0px;
  background-color: rgb(216, 216, 216);
  display: grid;
  grid-template-columns: 0.75fr 0.5fr 0.54fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.1fr;
}

.bigtable-header-vehicle {
  border: none;

  width: 100%;
  height: 65px;
  border-radius: 23px 23px 0px 0px;
  background-color: rgb(216, 216, 216);
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.6fr 0.1fr;
}

.column-header {
  text-align: center;
  vertical-align: middle;
  line-height: 65px;
  font-size: 20px;
}

.bigtable-body {
  overflow-y: auto;
  max-height: calc(90vh - 65px);
}

.bigtable-entry {
  border: none;

  width: 98%;
  height: 55px;
  border-radius: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px black;
  z-index: 15;

  cursor: pointer;
  background-color: white;

  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr 1fr 1fr 1fr 0.6fr;

  transition: opacity background-color box-shadow 0.2s;
}

.bigtable-entry-driver {
  border: none;

  width: 98%;
  height: 55px;
  border-radius: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px black;
  z-index: 15;

  cursor: pointer;
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 1fr 1fr 0.5fr 0.5fr 0.15fr;

  transition: opacity background-color box-shadow 0.2s;
}

.bigtable-entry-trip {
  border: none;

  width: 98%;
  height: 55px;
  border-radius: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px black;
  z-index: 15;

  cursor: pointer;
  background-color: white;

  display: grid;
  grid-template-columns: 0.6fr 0.7fr 0.7fr 1fr 1fr 1fr 0.62fr;

  transition: opacity background-color box-shadow 0.2s;
}

.bigtable-entry-trip-manager {
  border: none;

  width: 98%;
  height: 55px;
  border-radius: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px black;
  z-index: 15;

  cursor: pointer;
  background-color: white;

  display: grid;
  grid-template-columns: 0.7fr 0.5fr 0.5fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;

  transition: opacity background-color box-shadow 0.2s;
}

.bigtable-entry:hover {
  opacity: 0.8;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 5px black;
}

.bigtable-entry-field {
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  font-size: 18px;
}

.bigtable-entryvehicle-addnew {
  border-style: dashed;

  display: block;
  width: 98%;
  height: 55px;
  border-radius: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px black;
  z-index: 15;

  cursor: pointer;
  background-color: white;

  transition: opacity background-color box-shadow 0.2s;
}

.bigtable-entryvehicle-addnew:hover {
  opacity: 0.8;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 5px black;
}

.add-vehicle-text {
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  line-height: 55px;
}

.bigtable-entryvehicle {
  border: none;

  width: 98%;
  height: 55px;
  border-radius: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 3px black;
  z-index: 15;

  cursor: pointer;
  background-color: white;

  display: grid;
  grid-template-columns: 0.15fr 0.8fr 1.2fr 1.05fr 1.1fr 1fr 1fr 0.6fr;

  transition: opacity background-color box-shadow 0.2s;
}

.bigtable-entryvehicle:hover {
  opacity: 0.8;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 5px black;
}

.bigtable-entry-trip-manager:hover {
  opacity: 0.8;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 5px black;
}

.vehicle-popup {
  box-shadow: 0 0 3px black;
  z-index: 999;
  border-radius: 15px;

  width: 340px;
  height: 55px;

  display: flex;

  background-color: rgb(225, 225, 225);
}

.vehicle-popup-2btn {
  box-shadow: 0 0 3px black;
  z-index: 999;
  border-radius: 15px;

  width: 260px;
  height: 55px;

  display: flex;

  background-color: rgb(225, 225, 225);
}

.edit-vehicle-btn {
  margin: 12px;
  margin-right: 12px;
  margin-left: 0px;

  width: 100%;

  background-color: rgb(103, 103, 255);

  transition: opacity 0.2s;
}

.edit-vehicle-btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 5px rgb(103, 103, 255);
  z-index: 9999;
}

.edit-vehicle-btn:active {
  opacity: 0.5;
  box-shadow: 0 0 10px rgb(103, 103, 255);
  z-index: 9999;
}

.maint-vehicle-btn {
  margin: 12px;
  margin-left: 0px;

  width: 100%;

  background-color: rgb(103, 255, 116);
}

.maint-vehicle-btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 5px rgb(103, 255, 116);
  z-index: 9999;
}

.maint-vehicle-btn:active {
  opacity: 0.5;
  box-shadow: 0 0 10px rgb(103, 255, 116);
  z-index: 9999;
}

.del-vehicle-btn {
  margin: 12px;

  width: 100%;

  background-color: rgb(255, 54, 54);
}

.del-vehicle-btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 5px rgb(255, 54, 54);
  z-index: 9999;
}

.del-vehicle-btn:active {
  opacity: 0.5;
  box-shadow: 0 0 10px rgb(255, 54, 54);
  z-index: 9999;
}

.tripdriver-popup {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  z-index: 9999;

  background-color: white;
  border-radius: 23px;

  width: 400px;
  height: 200px;
}

.tripdriver-text {
  padding: 10px;
  padding-bottom: 2px;
  padding-left: 15px;

  text-align: left;
  vertical-align: middle;
  font-size: 20px;
  line-height: 25px;
}
