.navbar {
    width: 100%;
    display: flex;
    background-color: #8C9BA5;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    padding: 0.5rem;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    overflow-x: auto; 
  }
  
  .navbar-logo {
    height: 40px; /* Adjust based on your logo's aspect ratio */
    margin-right: -30px;
  }
  
  .navbar-page-name {
    font-weight: bold;
    margin-right: 20px;
  }
  
  .navbar-button {
    background: none;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-button:hover {
    background-color: #e0e0e0;
    color: #000000;
  }
  
  .navbar-search {
    width: 35%;
    margin-right: 10px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    color-interpolation-filters: white ;
  }

  .navbar-button.active {
    background-color: #d0d0d0; 
    color: #000; 
    border-bottom: 2px solid #333; 
  }
  

  @media (max-width: 768px) {
    .navbar-button {
      padding: 0.5rem;
      margin-right: 5px;
      font-size: 0.8rem;
    }
  
    .navbar-search {
      padding: 0.3rem;
      margin-right: 5px;
    }
  }